body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  background: transparent;

  &:visited {
    color: inherit;
  }
}

input {
  border-radius: 5px;
  padding: 0.5rem;
}

button {
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.4s;
}

:focus {
  outline: 0;
}

.center {
  text-align: center;
}

.test {
  border: 1px solid lime;
}
.mb-2 {
  margin-bottom: 20px;
}
.pb-2 {
  padding-bottom: 20px;
}
.w-80 {
  width: 80%;
}
.w-100 {
  width: 100%;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: all 0.4s;
}

.mb-100 {
  margin-bottom: 100vh;
}

.header {
  font-family: "Julius Sans One", sans-serif;
  color: dimgray;
  display: grid;
  grid-template-columns: 65% auto;
  padding: 0;
  margin: 3vmax;

  .title {
    max-width: 320px;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 18px;
      letter-spacing: 1px;

      a:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: dimgray;
        transition: all 0.5s ease-in;
      }

      a:hover::after {
        width: 100%;
        background: rgb(241, 255, 38);
      }
    }

    h5 {
      font-size: 12px;
      padding: 0.5rem 0;
      margin: 0;
    }
  }

  .delete-component {
    margin: 0;
    padding: 0;
    transition: all 0.4s;

    button {
      font-family: inherit;
      float: right;
      margin-right: 30px;
      background: transparent;
      border: 0px;
      // padding-top: 5px;

      &:hover {
        color: skyblue;
      }
    }

    .svg-container {
      position: absolute;
      right: 4%;
      height: 26px;
      width: 26px;

      svg {
        fill: gray;

        &:hover {
          fill: rgba(226, 103, 103, 0.678);
        }
      }
    }
  }
}

.search-component {
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 60px;

  form {
    display: grid;
    grid-template-columns: auto 100px 80px 60px auto;

    input {
      font-family: inherit;
      font-size: 1.3em;
      grid-column-start: 2;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      font-family: inherit;
      font-weight: bold;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: rgba(240, 255, 240, 0.274);

      &:hover {
        background: rgb(247, 248, 244);
      }
    }

    p {
      text-align: center;

      &:hover {
        color: skyblue;
      }
    }
  }
}

#error {
  text-align: center;
}

// Thumbnails

.flex-container {
  margin: 0 auto;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .animal-name {
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    padding: 0;
    margin: 10px;
  }

  .thumb-wrapper {
    position: relative;
    padding: 3px 3px 0 3px;
    margin: 12px;

    input {
      position: absolute;
      width: 35px;
      height: 35px;
      z-index: 7;
    }

    div.back {
      position: absolute;
      z-index: -1;
    }

    a.back {
      position: relative;
      z-index: -20;
    }

    .thumb {
      max-width: 240px;
      border-radius: 3px;
      transition: all 0.6s;
      filter: grayscale(100%);

      .back {
        position: relative;
        z-index: -10;
      }

      &:hover {
        transform: scale(1.1);
        filter: grayscale(0);
      }
    }
  }
}

.swing {
  animation: swing ease-in-out 0.3s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@keyframes swing {
  0% {
    transform: rotate(0.3deg);
  }
  100% {
    transform: rotate(-0.3deg);
  }
}

// Show page

.details-parent {
  width: 100vw;

  figure {
    text-align: center;
    img {
      width: 100%;
      max-width: 600px;
    }
  }

  .details-container {
    max-width: 600px;
    margin: 0 auto;
    width: 90%;

    table {
      border-collapse: collapse;
    }

    td {
      border: 1px solid #ddd;
      padding: 8px;
      line-height: 1.5;
    }
  }
}

#edit-wrapper {
  transition: all 0.3s ease-in;

  .editfield {
    p {
      margin: 2px;
    }

    input {
      display: block;
      width: 70%;

      &:last-child {
        width: 180px;
      }
    }
    textarea {
      border-radius: 5px;
      padding: 0.5rem;
      font-family: inherit;
      display: block;
      width: 100%;
      height: 200px;
    }
  }
}

.github {
  margin: 30px auto;
  width: 39px;

  svg {
    height: 100%;
    
    
  }
}
